## Base16 Unified Platform
# Author: tmiller@mitre.org
#
# You can use these variables anywhere in the mako configuration file.

background-color=#000000
text-color=#dad9d7
border-color=#185a7d

[urgency=low]
background-color=#000000
text-color=#997940
border-color=#185a7d

[urgency=high]
background-color=#000000
text-color=#802629
border-color=#185a7d
