[colors]
# Base16 Unified Platform
# Author: tmiller@mitre.org

foreground          = #dad9d7
foreground_bold     = #dad9d7
cursor              = #dad9d7
cursor_foreground   = #000000
background          = #000000

# 16 color space

# Black, Gray, Silver, White
color0  = #000000
color8  = #727374
color7  = #dad9d7
color15 = #ffffff

# Red
color1  = #802629
color9  = #802629

# Green
color2  = #006b5b
color10 = #006b5b

# Yellow
color3  = #997940
color11 = #997940

# Blue
color4  = #185a7d
color12 = #185a7d

# Purple
color5  = #894943
color13 = #894943

# Teal
color6  = #7b98ac
color14 = #7b98ac

# Extra colors
color16 = #ad9266
color17 = #ffffff
color18 = #262627
color19 = #4c4d4e
color20 = #98999b
color21 = #edeceb
