.base00 { color: #000000; }
.base01 { color: #262627; }
.base02 { color: #4c4d4e; }
.base03 { color: #727374; }
.base04 { color: #98999b; }
.base05 { color: #dad9d7; }
.base06 { color: #edeceb; }
.base07 { color: #ffffff; }
.base08 { color: #802629; }
.base09 { color: #ad9266; }
.base0A { color: #997940; }
.base0B { color: #006b5b; }
.base0C { color: #7b98ac; }
.base0D { color: #185a7d; }
.base0E { color: #894943; }
.base0F { color: #ffffff; }

.base00-background { background-color: #000000; }
.base01-background { background-color: #262627; }
.base02-background { background-color: #4c4d4e; }
.base03-background { background-color: #727374; }
.base04-background { background-color: #98999b; }
.base05-background { background-color: #dad9d7; }
.base06-background { background-color: #edeceb; }
.base07-background { background-color: #ffffff; }
.base08-background { background-color: #802629; }
.base09-background { background-color: #ad9266; }
.base0A-background { background-color: #997940; }
.base0B-background { background-color: #006b5b; }
.base0C-background { background-color: #7b98ac; }
.base0D-background { background-color: #185a7d; }
.base0E-background { background-color: #894943; }
.base0F-background { background-color: #ffffff; }
