# Base16 Unified Platform
# Author: tmiller@mitre.org

_gen_fzf_default_opts() {

local color00='#000000'
local color01='#262627'
local color02='#4c4d4e'
local color03='#727374'
local color04='#98999b'
local color05='#dad9d7'
local color06='#edeceb'
local color07='#ffffff'
local color08='#802629'
local color09='#ad9266'
local color0A='#997940'
local color0B='#006b5b'
local color0C='#7b98ac'
local color0D='#185a7d'
local color0E='#894943'
local color0F='#ffffff'

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg+:$color01,bg:$color00,spinner:$color0C,hl:$color0D"\
" --color=fg:$color04,header:$color0D,info:$color0A,pointer:$color0C"\
" --color=marker:$color0C,fg+:$color06,prompt:$color0A,hl+:$color0D"

}

_gen_fzf_default_opts
