# Base16 Unified Platform
# Author: tmiller@mitre.org

set default-bg                  "#000000"
set default-fg                  "#262627"

set statusbar-fg                "#98999b"
set statusbar-bg                "#4c4d4e"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#ffffff"

set notification-bg             "#000000"
set notification-fg             "#ffffff"

set notification-error-bg       "#000000"
set notification-error-fg       "#802629"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#802629"

set highlight-color             "#997940"
set highlight-active-color      "#185a7d"

set completion-bg               "#262627"
set completion-fg               "#185a7d"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#185a7d"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#edeceb"

set recolor                     "false"
set recolor-keephue             "false"
