## Base16 Unified Platform
# Author: tmiller@mitre.org

set $base00 #000000
set $base01 #262627
set $base02 #4c4d4e
set $base03 #727374
set $base04 #98999b
set $base05 #dad9d7
set $base06 #edeceb
set $base07 #ffffff
set $base08 #802629
set $base09 #ad9266
set $base0A #997940
set $base0B #006b5b
set $base0C #7b98ac
set $base0D #185a7d
set $base0E #894943
set $base0F #ffffff
