# Base16 Unified Platform
# Author: tmiller@mitre.org

[global_config]
  title_transmit_fg_color = "#dad9d7"
  title_transmit_bg_color = "#000000"
  title_inactive_fg_color = "#dad9d7"
  title_inactive_bg_color = "#727374"

[profiles]
  [[default]]
    use_theme_colors = False
    background_color = "#000000"
    foreground_color = "#dad9d7"
    cursor_color = "#dad9d7"
    palette = "#000000:#802629:#006b5b:#997940:#185a7d:#894943:#7b98ac:#dad9d7:#727374:#ad9266:#262627:#4c4d4e:#98999b:#edeceb:#ffffff:#ffffff"
