! Base16 Unified Platform
! Author: tmiller@mitre.org

! base00: #000000
! base01: #262627
! base02: #4c4d4e
! base03: #727374
! base04: #98999b
! base05: #dad9d7
! base06: #edeceb
! base07: #ffffff
! base08: #802629
! base09: #ad9266
! base0A: #997940
! base0B: #006b5b
! base0C: #7b98ac
! base0D: #185a7d
! base0E: #894943
! base0F: #ffffff

! Enable the extended coloring options
rofi.color-enabled: true

! Property Name     BG       Border   Separator
rofi.color-window:  #262627, #262627, #000000

! Property Name     BG       FG       BG-alt   Head-BG  Head-FG
rofi.color-normal:  #262627, #dad9d7, #262627, #262627, #ffffff
rofi.color-active:  #262627, #185a7d, #262627, #262627, #185a7d
rofi.color-urgent:  #262627, #802629, #262627, #262627, #802629

! Set the desired separator style
rofi.separator-style: solid
